.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem;
  &__link {
    font-size: 2rem;
    line-height: 2;
    text-decoration: none;
    &:hover .address__text {
      color: $blue;
    }
    &:hover .address__icon {
      transform: scale(1.2);
    }
  }
  &__icon {
    color: $blue;
    margin-right: 1.5rem;
    transition: transform 0.3s ease-in-out;
    &--hidden {
      visibility: hidden;
    }
  }
  &__text {
    color: white;
    font-weight: light;
    transition: 0.3s color ease-in-out;
  }
}

@media (max-width: 992px) {
  .address {
    margin-top: 2rem;
    &__link {
      font-size: 1.8rem;
    }
  }
}
@media (max-width: 768px) {
  .address {
    &__link {
      font-size: 1.6rem;
    }
  }
}
@media (max-width: 320px) {
  .address {
    margin-top: 1.5rem;
    &__link {
      font-size: 1.4rem;
    }
  }
}