
.data {
  padding: 4rem 0 4rem 4rem;
}

.header {
  display: flex;
  &__hgroup {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title,
  &__subtitle {
    margin: 0;
    color: $white;
    text-transform: uppercase;
  }
  &__title {
    font-size: 4rem;
    font-weight: 900;
    color: $white;
    &--highlight {
      color: $blue;
    }
  }
  &__subtitle {
    font-size: 2.8rem;
    font-weight: normal;
  }
  &__image {
    width: 100px;
    height: 100px;
    border: 6px solid $blue;
    object-fit: cover;
  }
}

@media (max-width: 992px) {
  .data {
    padding: 2rem 0 2rem 2rem;
  }
  .header {
    &__title {
      font-size: 3rem;
    }
    &__subtitle {
      font-size: 2.4rem;
    }
  }
}

@media (max-width: 768px) {
  .data {
    padding: 2rem 0 2rem 2rem;
  }
  .header {
    &__hgroup {
      margin-left: 1rem;
    }
    &__title {
      font-size: 2.4rem;
    }
    &__subtitle {
      font-size: 2rem;
    }
    &__image {
      width: 90px;
      height: 90px;
    }
  }
}
@media (max-width: 480px) {
  .data {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 60vh;
  }
  .header {
    margin-bottom: 2rem;
  }
}
@media (max-width: 320px) {
  .data {
    padding: 1rem;
     min-height: 65vh;
  }
  .header {
    &__title {
      font-size: 2rem;
    }
    &__subtitle {
      font-size: 1.6rem;
    }
  }
}